<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Content 영역 관련 메소드</h1>

    <h3>* html(["변경할문구"]) : innerHTML 속성과 관련된 메소드</h3>
    <p>
        선택된요소의 content영역(시작태그와 종료태그 사이)을 리턴해주거나 또는 변경해주는 메소드 <br>
        > $("선택자").html() : 선택된 요소의 innerHTML값을 반환해줌 (이때 html태그까지 포함) <br>
        > $("선택자").html("문구") : 선택된 요소의 innerHTML값을 해당 전달값으로 변경해줌 <br>
                                    (전달값에 html태그가 있을 경우 태그로써 해석해줌)
    </p>

    <h1 id="test1">
        <a>네이버로</a>
    </h1>
    <h1 id="test2"></h1>

    <script>
        $(function(){
            // var tmp = document.getElementById("test1").innerHTML;
            var tmp = $("#test1").html();
            console.log(tmp); // tmp == "<a>네이버로</a>"

            // document.getElementById("test2").innerHTML = "<a>네이버로</a>";
            $("#test2").html(tmp);
            $("#test2").children().attr("href", "http://www.naver.com");

        })
    </script>



</body>
</html>