<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tbody>tr:hover{
            cursor:pointer;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>게시판 리스트</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>세번째 글 제목</td>
                <td>user01</td>
                <td>23</td>
                <td>2021-03-21</td>
            </tr>
            <tr>
                <td>2</td>
                <td>두번째 글 제목</td>
                <td>user02</td>
                <td>34</td>
                <td>2021-02-24</td>
            </tr>
            <tr>
                <td>1</td>
                <td>첫번째 글 제목</td>
                <td>admin</td>
                <td>230</td>
                <td>2020-07-05</td>
            </tr>
        </tbody>
    </table>
    <br><br>

    선택된 게시글 정보 : 
    <label id="l1">글번호</label> / 
    <label id="l2">글제목</label> / 
    <label id="l3">작성자</label> / 
    <label id="l4">조회수</label> / 
    <label id="l5">작성일</label> 

    <script>
        $(function(){

            $("tbody>tr").click(function(){
                //console.log("클릭됨");
                //console.log($(this)); // $(this) : 현재 이벤트가 발생한 요소 (tr)
                //console.log($(this).children().eq(0).text());
                //console.log($(this).children().eq(1).text());

                // [td,td,td,td,td]
                $(this).children().each(function(index, el){
                    // index : 순차적으로 접근할 때 마다의 인덱스
                    // el : 순차적으로 접근되는 요소 객체 => 자바스크립트방식
                    console.log(el.innerText);
                    $("#l" + (index+1)).text(el.innerText);                

                })

            });

        })
    </script>


    <hr>

    <button class="btn btn-outline-danger btn-sm">버튼</button>
    <button class="btn btn-primary btn-lg">회원가입</button>
    <button class="btn btn-secondary">안녕</button>
    <br><br>

    <form action="/action_page.php">
        <div class="form-group">
          <label for="email">ID : </label>
          <input type="email" class="form-control" placeholder="Enter ID" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" id="pwd">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
      </form>

      <hr>

      <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/action_page.php">
                <div class="form-group">
                  <label for="email">ID : </label>
                  <input type="email" class="form-control" placeholder="Enter ID" id="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                </div>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
              </form>
        </div>
      </div>
    </div>
  </div>



</body>
</html>